<a href="/#collection">Коллекция</a>
<a href="/#collection-rent">Аренда</a>
<a href="/#collection-buy">Купить платье</a>
<a href="/#tailoring">Пошив</a>
<a href="/#about">О студии</a>
<a href="/#contacts">Контакты</a>
